# GBA 6070 - Programming Foundation for Business Analytics
# Dr. Mohammad Salehan
# Assignment 10 - Dataframe I|
Enter your name below.

In this assignment you will work with a weather dataset. Let's start with loading the dataset.

In [ ]:
import pandas as pd
weather = pd.read_csv('weather2.csv')

We also use another dataset that contains information about each weather station.

In [ ]:
stations = pd.read_excel('Station Information.xlsx')

1. Examine the shape of the both dataframes.

In [ ]:
weather.shape, stations.shape

2. Check the top 5 rows of each dataframe to see what it looks like.

In [ ]:
weather.head()

In [ ]:
stations.head()

3. Exclude the first column (Unnamed) of weather, then display the top row.

In [ ]:
weather= weather.iloc[:, 1:]
weather.head(1)

Below, we combine USAF and WBAN columns of stations dataframe to create a new column named station_wban that looks like the one in weather dataframe.

In [ ]:
stations['station_wban'] = stations['USAF'].astype(str)+'-'+stations['WBAN'].astype(str)
stations.head()

4. Join the 2 dataframes to add station name, country (CTRY) and state (ST CALL) to weather dataframe. There is no need for the rest of the columns in stations. You should use the proper type of join so that the number of rows in weather dataframe stays the same. At the end of this part, the shape of weather should be (100000, 16).

In [ ]:
weather = pd.merge(weather, stations, how='left')
weather.head(1)

In [ ]:
weather.drop(['USAF', 'WBAN', 'LAT', 'LON', 'ELEV(M)', 'BEGIN', 'END'], axis=1, inplace=True)
weather.head(1)

In [ ]:
stations_join = stations[['STATION NAME', 'CTRY', 'ST CALL', 'station_wban']]
weather = pd.merge(weather, stations_join)

In [ ]:
new_weather = weather.merge(stations[['station_wban','STATION NAME', 'CTRY', 'ST CALL']])

In [ ]:
weather.shape

5. Show descriptive statistics for all numeric columns of weather dataframe.

In [ ]:
weather.describe()

6. In all numeric columns, values 9999, -9999, 999, and -999 represent missing values. Replace all of them with np.nan using <a href='https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html' target='blank'>.replace() </a> method of dataframe.

In [ ]:
weather = weather.replace([9999, -9999, 999,  -999], np.nan)
weather.head()

7. Run descriptive statistics again to make sure the the values are transformed correctly.

In [ ]:
weather.describe()

8. All tempreature meaures are inflated with a factor of 10. For example, 289 for temperature means 28.9 degrees. Divide all temperature values by 10. Use .apply() method and lambda function. Other columns, such as day and hour should not be affected.

In [ ]:
weather.iloc[:, 4:-3] = weather.iloc[:, 4:-3].apply(lambda x:x/10)
weather.head()

9. Replace all missing values with mean of each column.

In [ ]:
weather.fillna(weather.mean(), inplace=True)
weather.head()

10. Calculate mean temperature, max wind speed, and min dew point for each station for each year.

In [ ]:
weather.groupby(['station_wban', 'year']).aggregate({
    'temperature': 'mean',
    'dew_point': 'min',
    'wind_speed': 'max'
})

### Extra credit
When imputing missing values, replace each missing values with the mean of the measure for the same station.

In [ ]:
weather = pd.read_csv('weather2.csv')
stations = pd.read_excel('Station Information.xlsx')
weather.drop(weather.columns[0], axis=1, inplace=True)
stations['station_wban'] = stations['USAF'].astype(str)+'-'+stations['WBAN'].astype(str)
weather = pd.merge(weather, stations, how='left')
weather.drop(['USAF', 'WBAN', 'LAT', 'LON', 'ELEV(M)', 'BEGIN', 'END'], axis=1, inplace=True)
weather = weather.replace([9999, -9999, 999,  -999], np.nan)
weather.iloc[:, 4:-3] = weather.iloc[:, 4:-3].apply(lambda x:x/10)
weather.head()