1. Write a function that produces a greeting for a name passed to it as an argument.

In [11]:
def greet(name):
  print(f'Hello {name}!')
greet("Roger")

Hello Roger!

2. Write a function that accepts a time duration as 3 arguments: hours, minutes, and seconds and calculates the total numbers of seconds.

In [10]:
def calculate_seconds(hours, minutes, seconds):
    return hours * 3600 + minutes * 60 + seconds
calculate_seconds(2,30,0)

9000

3. Write a function named right_justify that takes a string named s as a parameter
and prints the string with enough leading spaces so that the last letter of the string is in column 70
of the display.<br>
Hint: Use string concatenation and repetition. Also, Python provides a built-in function called len
that returns the length of a string, so the value of len('monty') is 5.

In [16]:
def right_justify(s):
  no_of_spaces = 70 - len(s)
  output = ' ' * no_of_spaces + s
  print(output)
right_justify('Hi')

                                                                    Hi

4. Write a function that returns the maximum of 2 numbers.
List item
List item

In [17]:
def max_of_two(a, b):
    return max(a, b)
print(max_of_two(10, 20))

20

5. Write a function that returns absolute value of a number using conditional statements.

In [19]:
def absolute_value(n):
    if n < 0:
        return -n
    else:
        return n
print(absolute_value(-10))

10

6. Write a function that checks whether a number is even or odd.

In [20]:
def even_or_odd(n):
    if n % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(even_or_odd(10))
print(even_or_odd(7))

Even
Odd

7. Write a program that calculates net pay based on gross pay and the following tax breaks:<br>
<ul><li>salary &lt;&equals; &dollar;20,000 : 0% </li>
<li> 20,000 &lt; salary &lt;&equals; &dollar;40,000: 10%
<li>40,000 &lt; salary &lt;&equals; &dollar;80,000 : 15%
    <li>salary &gt; &dollar;80,000: 20% </li></ul>
Please not that for someone making &dollar;90,000, the first &dollar;20,000 is tax free, the next &dollar;20,000 falls in second tax break (10%) and so on.

In [23]:
def calculate_net_pay(gross_pay):
    if gross_pay <= 20000:
        tax = 0
    elif gross_pay <= 40000:
        tax = (gross_pay - 20000) * 0.10
    elif gross_pay <= 80000:
        tax = (20000 * 0.10) + (gross_pay - 40000) * 0.15
    else:
        tax = (20000 * 0.10) + (40000 * 0.15) + (gross_pay - 80000) * 0.20
    net_pay = gross_pay - tax
    return net_pay
gross_salary = float(input("Enter your gross salary: "))
net_salary = calculate_net_pay(gross_salary)
print(f"Your net salary is: ${net_salary:.2f}")

Enter your gross salary: 24000
Your net salary is: $23600.00

8. Write a function that accepts a month number and returns the number of days in that month

In [24]:
def days_in_month(month):
    month_days = {
        1: 31,  # January
        2: 28,  # February
        3: 31,  # March
        4: 30,  # April
        5: 31,  # May
        6: 30,  # June
        7: 31,  # July
        8: 31,  # August
        9: 30,  # September
        10: 31, # October
        11: 30, # November
        12: 31  # December
    }
    return month_days.get(month, "Invalid month")
month_number = int(input("Enter month number (1-12): "))
print(f"Days in month: {days_in_month(month_number)}")

Enter month number (1-12): 7
Days in month: 31